#imagen{
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2%;
    vertical-align: middle;
    width:160px;
    height:200px;
}

#imagenPerfil{
    float: left;
    vertical-align: middle;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 10%;
}

#body{

    background-color: rgb(48, 58, 66);
}
#bodyPerfil{

    background-color: rgb(179, 233, 233);
    
}

#parrafo{

    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
}
#general{

    width: 960px;
    height: 100px;
    background-color: aqua;
    margin-top: 50px;
}


#colorHeader{
    background-color: rgb(48, 58, 66);
    
    }
    #titulo{

        background-color: rgb(48, 58, 66);
        text-align: center;
        color: #ffffff;
        font-family: sans-serif;
    }

    #volverInicio{
        
        text-align: center;
        color: #ffffff;
        font-family: sans-serif;
    }
    
    #body{
    
        background-color: rgb(48, 58, 66);
        font-family: sans-serif;
        color: #ffffff;
    
    
    }
    #div{
    
        background:rgb(48, 58, 66) ;
        padding: 10px;
        text-align: center;
        align-items: center;
        line-height: 50px;
        
    }

    #div2_1{
    
        background:rgb(0, 174, 255) ;
        padding: 10px;
        text-align: left;

    }
    #div2_2{
    
        background:rgb(250, 236, 36) ;
        padding: 10px;
        text-align: left;
        
    }

    #div2_3{
    
        background:rgb(230, 104, 0) ;
        padding: 10px;
        text-align: left;
        
    }

    #div2_4{
    
        background:rgb(255, 0, 0) ;
        padding: 10px;
        text-align: left;
        
    }

    #div2{
    
        background:rgb(153, 188, 219) ;
        padding: 10px;       
    
    
    
    }
  
    
    
    #grid{
        display: grid;
        grid-template-columns: 150px;
        grid-template-rows: 685px;
        float: left;
        background-color: rgb(68, 68, 192);
        flex: 1; 
        
    }

    .in-flex:first-child{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 171px 171px 171px 171px;
        margin-right: 30px;  
        flex: 2;

    }

    #boton:hover{
        align-items: center;
        color:#3a3939 !important;
        text-decoration-color: bisque;
        text-align: center;


    }

    #div:hover{
        border: 5px solid rgb(255, 255, 255);
        background-color: #564b68;
        text-decoration: underline;
        border: #7bd8f0 solid 3px;
    }

    #boton{
        margin-bottom: 30px;
        color: #ffffff;
    }

   .center{
    margin-bottom: 2%;
    width: 100%;
    border: 3px solid black;
    padding: 10x;
    text-align: center;
   }
   

   @media screen and (max-width:1300px) and (max-heigth:600px) {
       #grid2{
        grid-template-rows: 500px 500px 500px 550px;


       }
       #grid{
        grid-template-rows: 500px 500px 500px 550px;


       }
}
   #body_interior{

    background-color: #ffffff;
   }

