#imagen{
    margin-right: 10%;
    margin-bottom: 2%;
    vertical-align: middle;
    width:160px;
    height:200px;


}
#body_perro{
    background-color: rgb(65, 164, 221);
}
#titulo{

    font-family: fantasy;
}
#parrafo{

    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
}