#imagen{
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2%;
    vertical-align: middle;
    width:160px;
    height:200px;
}

#imagenPerfil{
    float: left;
    vertical-align: middle;
    margin-right: 30px;
    margin-left: 30px;
}

#body{
    background-color: rgb(65, 164, 221);
}
#bodyPerfil{

    background-color: rgb(179, 233, 233);
}

#titulo{

    font-family: fantasy;
}
#parrafo{

    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
}